<section id="faq" class="faq">
  <div class="faq__container">
    <div class="faq__header">
      <h2 class="faq__title">Häufige Fragen</h2>
      <p class="faq__subtitle">
        Antworten auf die wichtigsten Fragen zu Entwicklung und Wartung
      </p>
    </div>

    <div class="faq__list">
      <div 
        *ngFor="let item of faqItems; let i = index"
        class="faq__item"
        [class.faq__item--open]="openItems.has(i)"
        [attr.data-index]="i">
        
        <button 
          class="faq__question"
          (click)="toggleItem(i)"
          [attr.aria-expanded]="openItems.has(i)"
          [attr.aria-controls]="'faq-answer-' + i">
          
          <span class="faq__question-text">{{ item.question }}</span>
          
          <span class="faq__question-icon" aria-hidden="true">
            <svg 
              class="faq__icon" 
              viewBox="0 0 24 24" 
              fill="none" 
              stroke="currentColor">
              <path d="M6 9l6 6 6-6"/>
            </svg>
          </span>
        </button>

        <div 
          class="faq__answer"
          [id]="'faq-answer-' + i"
          [attr.aria-hidden]="!openItems.has(i)">
          <div class="faq__answer-content">
            <p class="faq__answer-text">{{ item.answer }}</p>
            
            <div *ngIf="item.details" class="faq__answer-details">
              <ul class="faq__details-list">
                <li *ngFor="let detail of item.details" class="faq__details-item">
                  {{ detail }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="faq__footer">
      <p class="faq__footer-text">
        Weitere Fragen? Lass uns sprechen!
      </p>
      <a href="#contact" class="faq__footer-button">
        Kostenlose Beratung anfragen
      </a>
    </div>
  </div>
</section>