.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  &__logo {
    max-width: 500px;
    width: 80%;
    height: auto;
    filter: brightness(0) invert(1);
  }
}